" Options
set clipboard+=unnamed
set clipboard+=ideaput
set scrolloff=10
set incsearch
set number
set relativenumber
set ideajoin
set highlightedyank
set ignorecase
set smartcase
set surround

let mapleader = " "

" Scroll half page and recenter
noremap <C-d> <C-d>zz
noremap <C-u> <C-u>zz

" Don't like the default jump behavior
nmap <C-o> <Action>(Back)
nmap <C-i> <Action>(Forward)

" Don't yank what was just erased
vnoremap p pgvy

" Do not overwrite unnamed register with x and s
nnoremap x "_x
nnoremap s "_s

" Make Y behave like C and D
nnoremap Y y$

" Don't move cursor when joining lines
nnoremap J Jh

" Easier to learn and type
noremap gl $
noremap gh ^
noremap gm %

" Split lines
let @c = "hf,a<CR><Esc>"
nnoremap <Leader>sb hf(a<CR><Esc>
nnoremap <Leader>s, @c

" Editor shortcuts
map <C-p> <Action>(GotoFile)
map gh <Action>(QuickJavaDoc)
map <leader>fd <Action>(ReformatCode)
map <leader>cc <Action>(SilentCodeCleanup)
map <leader>re <Action>(RenameElement)
map <leader>ne <Action>(ReSharperGotoNextErrorInSolution)
map <leader>pe <Action>(ReSharperGotoPrevErrorInSolution)
map <leader>fu <Action>(FindUsages)
map <leader>ff <Action>(FindInPath)
map <leader>op <Action>(SelectInProjectView)
map <leader>of <Action>(ActivateFindToolWindow)
map <leader>ot <Action>(ActivateTerminalToolWindow)
map <leader>tb <Action>(ToggleLineBreakpoint)
map <leader>ed <Action>(ShowErrorDescription)
map <leader>pi <Action>(ParameterInfo)
map <leader>zc <Action>(CollapseAllRegions)
map <leader>zo <Action>(ExpandAllRegions)
map <leader>hs <Action>(HideSideWindows)
map <leader>ha <Action>(HideActiveWindow)
map <leader>ev :e ~\Dev\GitHub\dotfiles\.ideavimrc<CR>
map [[ <Action>(MethodUp)
map ]] <Action>(MethodDown)

" Copy line/selection down
map <A-S-j> <Action>(EditorDuplicateLines)

" Move line/selection up/down
map <A-j> <Action>(MoveLineDown)
map <A-k> <Action>(MoveLineUp)

" Grow/Shrink selection
map <A-S-h> <Action>(EditorUnSelectWord)
map <A-S-l> <Action>(EditorSelectWord)

" Multiple cursors
map <A-C-j> <Action>(EditorCloneCaretBelow)
map <A-C-k> <Action>(EditorCloneCaretAbove)
map <A-C-h> <Action>(UnselectPreviousOccurrence)
map <A-C-l> <Action>(SelectNextOccurrence)

" Tab navigation
nmap <C-h> <Action>(PreviousTab)
nmap <C-l> <Action>(NextTab)
imap <C-h> <Action>(PreviousTab)
imap <C-l> <Action>(NextTab)
map <Leader>tc <Action>(CloseContent)
map <Leader>to <Action>(CloseAllEditorsButActive)

" Window navigation
nnoremap <Leader>wc <C-W>c
nnoremap <Leader>wo <C-W>o
nnoremap <Leader>wj <C-W>j
nnoremap <Leader>wk <C-W>k
nnoremap <Leader>wh <C-W>h
nnoremap <Leader>wl <C-W>l
nnoremap <Leader>ws <C-W>s
nnoremap <Leader>wv <C-W>v

" Remove arrow keys
noremap <Up> <NOP>
noremap <Down> <NOP>
noremap <Left> <NOP>
noremap <Right> <NOP>

" Increment/decrement
noremap + <C-a>
noremap - <C-x>

" Redo
noremap U <C-r>

" Handlers
sethandler <C-2> a:vim
sethandler <C-A> a:vim
sethandler <C-B> a:vim
sethandler <C-C> a:vim
sethandler <C-D> a:vim
sethandler <C-E> a:vim
sethandler <C-F> a:vim
sethandler <C-G> a:vim
sethandler <C-H> a:vim
sethandler <A-S-H> a:vim
sethandler <C-I> a:vim
sethandler <C-J> a:vim
sethandler <A-C-J> a:vim
sethandler <C-K> a:vim
sethandler <A-C-K> a:vim
sethandler <C-L> a:vim
sethandler <C-M> a:vim
sethandler <C-N> a:vim
sethandler <C-O> a:vim
sethandler <C-P> a:vim
sethandler <C-R> a:vim
sethandler <C-S> a:vim
sethandler <C-T> a:vim
sethandler <C-U> a:vim
sethandler <C-V> a:vim
sethandler <C-W> a:vim
sethandler <C-X> a:vim
sethandler <C-Y> a:vim
sethandler <C-[> a:vim
sethandler <C-\> a:vim
sethandler <C-]> a:vim
