" Options
set clipboard+=unnamed
set clipboard+=ideaput
set scrolloff=10
set incsearch
set number
set relativenumber
set ideajoin
set highlightedyank
set ignorecase
set smartcase
set surround

noremap <Space> <Nop>

let mapleader = " "

" Scroll half page and recenter
noremap <C-d> <C-d>zz
noremap <C-u> <C-u>zz

" Don't like the default jump behavior
nmap <C-o> <Action>(Back)
nmap <C-i> <Action>(Forward)

" Don't yank
nnoremap x \"_x
nnoremap s \"_s
nnoremap c \"_c
vnoremap p \"_dP
vnoremap c \"_c

" Make Y behave like C and D
nnoremap Y y$

" Don't move cursor when joining lines
nnoremap J Jh

" Easier to learn and type
noremap gl $
noremap gh ^
noremap gm %

" Split at start of parenthesis
nnoremap <Leader>sb hf(a<CR><Esc>

" Split at next comma
let @s = "hf,a<CR><Esc>"
nnoremap <Leader>s, @s

" Split ternary
nnoremap <Leader>st _f?i<CR><Esc>f:i<CR><Esc>

" Editor shortcuts
map <C-p> <Action>(GotoFile)
map gr <Action>(FindUsages)
map <Leader>jd <Action>(QuickJavaDoc)
map <Leader>fd <Action>(ReformatCode)
map <Leader>cc <Action>(SilentCodeCleanup)
map <Leader>re <Action>(RenameElement)
map <Leader>ff <Action>(FindInPath)
map <Leader>op <Action>(SelectInProjectView)
map <Leader>of <Action>(ActivateFindToolWindow)
map <Leader>ot <Action>(ActivateTerminalToolWindow)
map <Leader>tb <Action>(ToggleLineBreakpoint)
map <Leader>ed <Action>(ShowErrorDescription)
map <Leader>pi <Action>(ParameterInfo)
map <Leader>zc <Action>(CollapseAllRegions)
map <Leader>zo <Action>(ExpandAllRegions)
map <Leader>hs <Action>(HideSideWindows)
map <Leader>ha <Action>(HideActiveWindow)
map <Leader>ba <Action>(BuildWholeSolutionAction)
map <Leader>ra <Action>(Run)
map <Leader>da <Action>(Debug)
map <Leader>sa <Action>(Stop)
map <Leader>rt <Action>(RiderUnitTestRunContextAction)
map <Leader>nt <Action>(ReSharperNavigateTo)
map <Leader>gr <Action>(GotoRelated)
map <Leader>ev :e ~\.ideavimrc<CR>
map <Leader>sv :source ~\.ideavimrc<CR>
map <Leader>ac <Action>(RiderDebuggerApplyEncChagnes)

if &ide =~? 'rider'
    map [d <Action>(ReSharperGotoPrevErrorInSolution)
    map ]d <Action>(ReSharperGotoNextErrorInSolution)
else
    nmap [d <Action>(GotoNextError)
    nmap ]d <Action>(GotoPreviousError)
endif

map [f <Action>(MethodUp)
map ]f <Action>(MethodDown)

" Copy line/selection down
map <A-S-j> <Action>(EditorDuplicateLines)

" Move line/selection up/down
map <A-j> <Action>(MoveLineDown)
map <A-k> <Action>(MoveLineUp)

" Grow/Shrink selection
map <A-S-h> <Action>(EditorUnSelectWord)
map <A-S-l> <Action>(EditorSelectWord)

" Multiple cursors
map <A-C-j> <Action>(EditorCloneCaretBelow)
map <A-C-k> <Action>(EditorCloneCaretAbove)
map <A-C-h> <Action>(UnselectPreviousOccurrence)
map <A-C-l> <Action>(SelectNextOccurrence)

" Tab navigation
nmap <C-h> <Action>(PreviousTab)
nmap <C-l> <Action>(NextTab)
imap <C-h> <Action>(PreviousTab)
imap <C-l> <Action>(NextTab)
map <Leader>tc <Action>(CloseContent)
map <Leader>to <Action>(CloseAllEditorsButActive)

" Window navigation
nnoremap <Leader>wc <C-W>c
nnoremap <Leader>wo <C-W>o
nnoremap <Leader>wj <C-W>j
nnoremap <Leader>wk <C-W>k
nnoremap <Leader>wh <C-W>h
nnoremap <Leader>wl <C-W>l
nnoremap <Leader>ws <C-W>s
nnoremap <Leader>wv <C-W>v

" Break old habits
map <Up> <NOP>
map <Down> <NOP>
map <Left> <NOP>
map <Right> <NOP>
map <A-S-f> <NOP>
map <C-S-f> <NOP>

" Increment/decrement
noremap + <C-a>
noremap - <C-x>

" Redo
noremap U <C-r>

" Handlers
sethandler <C-2> a:vim
sethandler <C-A> a:vim
sethandler <C-B> a:vim
sethandler <C-C> a:vim
sethandler <C-D> a:vim
sethandler <C-E> a:vim
sethandler <C-F> a:vim
sethandler <C-G> a:vim
sethandler <C-H> a:vim
sethandler <A-S-H> a:vim
sethandler <A-S-F> a:vim
sethandler <C-S-F> a:vim
sethandler <C-I> a:vim
sethandler <C-J> a:vim
sethandler <A-C-J> a:vim
sethandler <C-K> a:vim
sethandler <A-C-K> a:vim
sethandler <C-L> a:vim
sethandler <C-M> a:vim
sethandler <C-N> a:vim
sethandler <C-O> a:vim
sethandler <C-P> a:vim
sethandler <C-R> a:vim
sethandler <C-S> a:vim
sethandler <C-T> a:vim
sethandler <C-U> a:vim
sethandler <C-V> a:vim
sethandler <C-W> a:vim
sethandler <C-X> a:vim
sethandler <C-Y> a:vim
sethandler <C-[> a:vim
sethandler <C-\> a:vim
sethandler <C-]> a:vim
